<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
        <title>Extracteur des fichiers fonciers</title>
    </head>

    <body>
        <iframe src="{{ hurl }}" style="width:100%;height:{{ hheight }}px;border:none;overflow:hidden;" scrolling="no" frameborder="0"></iframe>
        <div class="main">
            <h1>Extracteur des fichiers fonciers</h1><hr>

            <p>Bonjour {{ g.firstname }} {{ g.lastname }},</p>
            <p>D'après nos registres, vous avez accès aux millésimes {{ ', '.join(years) }}.<br/>Notez que l'extraction portera sur les {{ g.cities|length }} communes enregistrées comme zone de compétence de votre organisme ({{ g.orgname }}).</p>

            <form action="{{ url_for('.submit') }}" method="POST">
                <fieldset>
                    <legend>Paramètres de l'extraction</legend>
                    <b>Millésime</b> :<br>
                    {% for year in g.years %}
                    <input type="radio" name="year" value="{{ year }}" {{ 'checked' if year == g.years[0] }}> {{ year }}
                    {% endfor %}
                    <br><br>
                    <b>Projection</b> :<br>
                    <input type="radio" name="proj" value="2154" checked> Lambert 93
                    <input type="radio" name="proj" value="4326"> WGS 84
                    <br><br>
                    <b>Format</b> :<br>
                    <input type="radio" name="format" value="shp" checked> Shapefile
                    <input type="radio" name="format" value="mifmid"> MapInfo
                    <input type="radio" name="format" value="postgis"> PostGIS
                    <br><br>
                    <input type="submit" value="Commander">
                </fieldset>
            </form>
        </div>
    </body>
</html>
