<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/styles.css">
        <title>Extracteur des fichiers fonciers</title>
    </head>

    <body>
        <iframe src="/portail/external_head" style="width:100%;height:73px;border:none;overflow:hidden;" scrolling="no" frameborder="0"></iframe>
        <div class="main">

            <h1>Extracteur des fichiers fonciers</h1><hr>

            <p>Cette application est réservée aux ayants droits PPIGE ayant signé un <a href="http://www.ppige-npdc.fr/portail/doc/Acte_Engagementdynamique2014_cle5e6851.pdf">acte d'engagement</a> en vue de la délivrance de fichiers fonciers.</p>

            <p>Il semblerait que cette condition ne soit pas remplie pour votre compte, ou bien que le traitement de votre demande ne soit pas encore achevé.</p>

            <p>Pour obtenir un accès à ces fichiers, vous devez obtenir l’autorisation de la Direction Générale de l'Aménagement, du Logement et de la Nature (DGALN). La procédure ci-dessous vous accompagne dans cette démarche.</p>
            
            <p>Envoyer votre demande à la DGALN par un email remplissant les conditions suivantes :
            <ol>
              <li>Objet du message : <b>[PPIGE] Demande de téléchargement de fichiers fonciers à partir du site de la PPIGE</b></li>
              <li>Destinataire principal : <b>autorisations-fichiers-fonciers@developpement-durable.gouv.fr</b> </li>
              <li>Destinataires en copie : <b>fichiers-fonciers@developpement-durable.gouv.fr, ppige@epf-npdc.fr</b></li>
              <li>Pièce jointe : le <a href="http://www.ppige-npdc.fr/portail/doc/Acte_Engagementdynamique2014_cle5e6851.pdf">document DGALN-AD</a> dûment rempli. </li>
            </ol>
            </p>

            <p>Votre demande sera traitée correctement et dans les plus brefs délais si vous respectez ces étapes.</p>
            <p>Votre accès à l'extracteur des fichiers fonciers sera ouvert par la PPIGE dès réception de la validation de la DGALN.</p>
            
            <p>Nous vous invitons à consulter également le document <a href='http://www.ppige-npdc.fr/portail/doc/AE-DGFIP-DGALN.pdf'>AE-DGFiP-DGALN</a></p>
        </div>
    </body>
</html>
