<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/styles.css">
        <title>Extracteur des fichiers fonciers</title>
    </head>

    <body>
        <iframe src="/portail/external_head" style="width:100%;height:{{ hheight }}px;border:none;overflow:hidden;" scrolling="no" frameborder="0"></iframe>
        <div class="main">

            <h1>Extracteur des fichiers fonciers</h1><hr>

            <p>Votre commande des fichiers fonciers millésime <b>{{ values.get('year') }}</b> au format <b>{{ values.get('format').upper() }} / EPSG:{{ values.get('proj') }}</b> a été enregistrée sous la référence {{ uuid }} et sera traitée dans les meilleurs délais.</p>
            <p>Elle sera envoyée à l'adresse <b>{{ g.email }}</b></p>
            
            <p><br></p>

            <!--p>Adresse de suivi : <a href="retrieve/{{ uuid }}">retrieve/{{ uuid }}</a></p-->
        </div>
    </body>
</html>